.categoryStream {
  width: 153px;
  margin: .5rem;
  &__header {
    position: relative;
  }
  &__viewers {
    position: absolute;
    bottom: 3%;
    left: 1%;
    background-color: rgb(54, 54, 54);
    color: #fff;
    font-size: .9rem;
    padding: 3px;
  }
  &__containerUser {
    display: flex;
    &__logoUser {
      height: 40px; width: 40px;
      border-radius: 50%;
    }
    &__content {
      display: flex;
      flex-direction: column;
      padding: .4rem;
      white-space: nowrap;
      overflow: hidden;
      &__title {
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &__userName, &__gamePlayed {
        color: rgb(78, 78, 78);
        font-size: .9rem;
      }
    }
  }
  &__details {
    padding: .3rem 0;
    &__icon {
      padding: .2rem .3rem;
      margin: 0 .2rem;
      background-color: rgb(197, 197, 197);
      color: #000;
      font-size: .9rem;
      border-radius: 30px;

    }
  }
  &__img {
    transition: all .2s ease-in;    
    &:hover {
    transform: translate(.3rem, -.3rem);   
  }  
}
}
