// setup sidebar
.sidebar {
  position: fixed;
  top: 50px;
  width: 250px;
  height: 100%;
  background-color: rgb(238, 238, 238);
  box-shadow: 0 1px 1px rgba(150, 150, 150, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;  
  transition: all 0.2s linear;
  // setup first block
  &__containerStreamers {
    width: 100%;
  }
  &__title {
    text-transform: uppercase;
    font-weight: bold;
    font-size: .9rem;
    margin: 1rem .3rem;
    padding: .3rem;

  }
  &__title > i {
    cursor: pointer;
    float: right;
  }
  &__listStream {
    padding: 0 .3rem;
  }
  &__streamer {
    display: flex;
    padding: .4rem 0;
    cursor: pointer;
    &:hover {
      background-color: rgb(223, 223, 223);
    }
    &__logo {
      width: 30px; height: 30px;
      border-radius: 50%;
    }
    &__infos {
      width: 130px;
      margin: 0 .5rem;
      overflow: hidden;

      &__name::first-letter, &__gamePlayed::first-letter {
        text-transform: uppercase;
      }
      &__name {
        font-weight: bold;
        font-size: .9rem;
      }
      &__gamePlayed {
        color: rgb(104, 104, 104);
        font-size: .8rem;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
    &__viewers {
      position: relative;
      margin-left: auto;
      font-size: .9rem;
      &:before {
        position: absolute;
        top: 0;
        left: -12px;
        transform: translateY(50%);
        content: "";
        width: 8px; height: 8px;
        border-radius: 50%;
        background-color: red;
      }
    }   
  }
  &__searchFriends {
    position: relative;
    width: 100%;
    text-align: center;
    &__input {
    width: 90%;
    padding: 0.4rem;
    border: 2px solid transparent;
    border-radius: 6px;
    background-color:  rgb(214, 214, 214);
    margin-bottom: 50px;
    transition: .2s ease-in;
      &::placeholder {
      color: rgb(153, 153, 153);
      }
      &:hover {
        border: 2px solid rgb(197, 197, 197)
      }
      &:focus {
        background-color: #fff;
        border: 2px solid #6441a4;
      }
    }
    &__values {
      position: absolute;
      bottom: 115%;
      width: 100%;
      height: auto;
      max-height: 200px;
      background-color: #fff;
      border-radius: 0 5px 5px 0;
      overflow-y: auto;
    }
    &__value {
      padding: .3rem;
      margin: .3rem;
      &:hover {
        background-color: #ccc;
      }
      
    }
  }
}

@media screen and (max-width: 1100px) {
  .sidebar {
    width: auto;
  }    
  .sidebar__searchFriends__input, .sidebar__streamer__infos, .sidebar__streamer__viewers {
    display: none;
  }
  .sidebar__title > i{
    float: none;
  }
}
