.LiveStreamMin {
  display: flex;
  width: 500px;
  height: 250px;
  box-shadow: 5px 2px 10px rgb(134, 134, 134);
  margin: .5rem;
  cursor: pointer;
  &__header {
    position: relative;
    height: 100%;
    width: 60%;
  }
  &__img {
    height: 100%;
    width: 100%;
  }  
  &__viewers {    
    color: #000;
    font-size: .9rem;
  }
  &__live {
    position: absolute;
    top: 3%;
    left: 3%;
    background-color: rgb(228, 0, 0);
    color: #fff;
    font-size: .8rem;
    text-transform: uppercase;
    padding: .2rem;
    border-radius: 5px;
  }
  &__containerUser {
    display: flex;
    width: 40%;
    background-color: rgb(241, 241, 241);
    padding: 1rem .5rem;
    &__logoUser {
      height: 40px; width: 40px;
      border-radius: 50%;
    }
    &__content {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: .4rem;
      white-space: nowrap;
      overflow: hidden;
      &__userName {
        font-size:.8rem;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &__gamePlayed {
        font-size: .7rem;
        padding: .5rem 0;
      }
      &__userName, &__gamePlayed {
        color: #800080;
      }
    }
  }
  &__details {
    padding: .3rem 2.5rem;
    &__icon {
      position: absolute;    
      top: 35%; 
      left: 0;
      padding: .2rem .3rem;
      margin: 0 .2rem;
      background-color: rgba(197, 197, 197, 0.6);
      color: rgba(0, 0, 0, 0.8);
      font-size: .8rem;
      border-radius: 30px;
      display: inline-block;
    }
  }
}
